# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Logs
*.log

# Virtual environments
venv/
.env/

# Editor files
*.swp
*.swo

# OS junk
Thumbs.db

# Diane-specific
output/
wifi_credentials.json

*.zip
