[Unit]
Description=Run Diane Health Check on Boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/diane/04_setup_diane_check.sh
StandardOutput=append:/var/log/diane_healthcheck.log
StandardError=append:/var/log/diane_healthcheck.log

[Install]
WantedBy=multi-user.target
